apiVersion: v1
kind: Pod
metadata:
  name: webapp-green
  labels:
    purpose: modify-command
spec:
  containers:
    - name: webapp-color-container
      image: kodekloud/webapp-color
      #command: ["color"] Only required if we have to modify the entry point
      args: ["--color", "green"]